<launch>
    <!-- 实验节点 -->
    <node pkg="bobac3_audio" type="semanteme_node" name="semanteme" output="screen"/>
    <!-- 开启语音服务 -->
<node pkg="robot_audio" type="voice_aiui_node" name="voice_aiui_node"/>
 <node name="voice_collect" pkg="robot_audio" type="voice_collect_node" output="screen">
        <!-- 音频文件目录 -->
        <param name="audio_file" type="string" value="./AIUI/audio/audio.wav"/>
    </node>
</launch>

